.languages-options {
    margin-top: 2%;
  }
  
  .languages-table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 1em;
    -webkit-box-shadow: 0px -20px 10px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -20px 10px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -20px 10px -3px rgba(0, 0, 0, 0.2);
  }
  
  .languages-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #c5da5f;
    color: white;
  }
  
  .languages-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .languages-table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .languages-table th,
  td {
    padding: 15px;
  }
  .english-adults-paragraph {
    display: none;
    color: white;
    font-weight: 700;
    margin-left: 2%;
    margin-top: 0;
  }
  
  .show-element {
    display:block;
  }

  .hide-element {
    display: none; 
  }

  .english-box,
  .french,
  .german,
  .spanish,
  .russian,
  .japanese {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }
  
  .english-box picture,
  .french picture,
  .german picture,
  .spanish picture,
  .russian picture,
  .japanese picture {
    width: 30%;
    height: 100%;
  }
  
  .english-box img,
  .french img,
  .german img,
  .spanish img,
  .russian img,
  .japanese img {
    width: 100%;
    height: 100%;
  }
  
  .english-options {
    width: 70%;
  }
  
  .english-header h2 {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 2px #000000;
    padding-bottom: 1%;
    font-size: 1.9em;
    overflow: hidden;
    text-align: left;
    padding-left: 1%;
    line-height: 100%;
  }
  
  .german-box,
  .french-box,
  .spanish-box,
  .russian-box,
  .japanese-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
  }
  
  .english-header {
    display: flex;
    flex-direction: row;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .english-header:hover {
    color: white;
    transform: scale(1.01);
    cursor: pointer;
  }
  
  fa {
    align-self: center;
    padding-left: 1%;
    font-size: 1.9em;
    color: white;
  }
  
  #caret-up-kids,
  #caret-up-secondary,
  #caret-up-highschool,
  #caret-up-adults {
    display: none;
  }