<article class="summer-courses-options-bar" id="summer-courses-options-bar">
    <a href="#first-module">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-4.png">
            <img src="../../../assets/images/workshops-slideshow-4.png" alt="">
        </picture>
    </a>
    <a href="#second-module">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-5.png">
            <img src="../../../assets/images/workshops-slideshow-5.png" alt="">
        </picture>
    </a>
</article>