<section class="workshops-options" id="workshops-options">
        <article class="workshop-article robotics-article" id="robotics">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/roboticsworkshop.png">
                <img src="../../../assets/images/roboticsworkshop.png" alt="Atelier de robotica" class="workshop-principal-image">
            </picture>
            <div class="workshop-content">
                <p>Programarea este viitorul și dezvoltă o mulțime de abilități cum ar fi gândirea logică, algoritmică
                    și creativitatea. Programarea, combinată cu electronică și elemente de robotică este distractivă la
                    orice vârstă!
                </p>
                <div style="overflow-x:auto;">
                    <table class="workshop-table french-table">
                        <tr>
                            <th>Vârsta</th>
                            <th><i class="fas fa-calendar-day"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                            <th>Preț</th>
                        </tr>
                        <tr>
                            <td>Copii 8-11</td>
                            <td>Duminică</td>
                            <td>09:30 - 11:00</td>
                            <td rowspan="2">50 lei (materiale incluse)</td>
                        </tr>
                        <tr>
                            <td>Copii gimnaziu/liceu</td>
                            <td>Duminică</td>
                            <td>11:15 - 12:45</td>
                        </tr>
                    </table>
                </div>
            </div>
        </article>
        <article class="workshop-article painting-article" id="painting">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/paintingworkshop.png">
                <img src="../../../assets/images/paintingworkshop.png" alt="Atelier de pictura" class="workshop-principal-image">
            </picture>
            <div class="workshop-content">
                <p>De-a lungul istoriei, arta a jucat un rol important în dezvoltarea culturală și intelectuală a
                    omenirii. Ea este cea care ne ajută să cunoaștem mai bine lumea care ne înconjoară, precum și pe cea
                    din interiorul nostru. Dintre toate formele
                    de artă existente, artele vizuale au stat întotdeauna la loc de cinste, în special desenul și
                    pictura.
                </p>
                <div style="overflow-x:auto;">
                    <table class="workshop-table">
                        <tr>
                            <th>Vârsta</th>
                            <th><i class="fas fa-calendar-day"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                            <th>Preț</th>
                        </tr>
                        <tr>
                            <td>Copii mici/începători</td>
                            <td>-</td>
                            <td>10:00 - 12:00</td>
                            <td>30 lei (materiale incluse)</td>
                        </tr>
                        <tr>
                            <td>Copii gimnaziu/experimentați</td>
                            <td>-</td>
                            <td>12:00 - 15:00</td>
                            <td>40 lei (materiale incluse)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </article>
        <article class="workshop-article chess-article" id="chess">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/chessworkshop.png">
                <img src="../../../assets/images/chessworkshop.png" alt="Atelier de sah" class="workshop-principal-image">
            </picture>
            <div class="workshop-content">
                <p>
                    Șahul este un joc amuzant, un joc de strategie și un joc al minții, aducând numeroase beneficii în
                    dezvoltarea intelectuală a copiilor. Această activitate crește capacitatea de atenție și concentrare
                    și îi învață pe cei mici să aibă răbdare și să gândească
                    logic înainte de a acționa, să fie gata să piardă și să învețe din greșeli. De asemenea le
                    îmbunătățește memoria și îi face să fie mai responsabili.
                </p>
                <div style="overflow-x:auto;">
                    <table class="workshop-table">
                        <tr>
                            <th>Vârsta</th>
                            <th><i class="fas fa-calendar-day"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                            <th>Preț</th>
                        </tr>
                        <tr>
                            <td>Copii 6-8 ani</td>
                            <td>Marți</td>
                            <td>15:15 - 16:15</td>
                            <td>35 lei</td>
                        </tr>
                        <tr>
                            <td>Copii 8-12 ani</td>
                            <td>Marți</td>
                            <td>16:30 - 18:00</td>
                            <td>40 lei</td>
                        </tr>
                    </table>
                </div>
            </div>
        </article>
        <article class="workshop-article sewing-article" id="sewing">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/sewingworkshop.png">
                <img src="../../../assets/images/sewingworkshop.png" alt="Atelier de cusaturi traditionale"
                    class="workshop-principal-image">
            </picture>
            <div class="workshop-content">
                <p>
                    Rolul creator al acestui meștesug cu îndemânare împletit celor ce îl practică este de a aduce
                    bucurie și frumusețe semenilor lor. Noi știm că priceperea și îndemânarea nu sunt înnăscute ci ele
                    se dobândesc prin exerciții și muncă.
                </p>
                <div style="overflow-x:auto;">
                    <table class="workshop-table">
                        <tr>
                            <th>Vârsta</th>
                            <th><i class="fas fa-calendar-day"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                            <th>Preț</th>
                        </tr>
                        <tr>
                            <td>Copii</td>
                            <td>Miercuri</td>
                            <td>16:00 - 17:30</td>
                            <td rowspan="2">30 lei</td>
                        </tr>
                        <tr>
                            <td>Adulți - Poveste cu ac și ață - Atelier de cusut mândră ie</td>
                            <td>Miercuri</td>
                            <td>17:30 - 19:00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </article>
        <article class="workshop-article dp-article" id="dp">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/pdworkshop.png">
                <img src="../../../assets/images/pdworkshop.png" alt="Atelier de dezvoltare personala" class="workshop-principal-image">
            </picture>
            <div class="workshop-content">
                <p>
                    Grupurile terapeutice de dezvoltare a abilităților socio-emoționale oferă copiilor posibilitatea
                    conștientizării și valorizării de sine, cu efecte pozitive în planul relațiilor interumane.
                </p>
                <div style="overflow-x:auto;">
                    <table class="workshop-table">
                        <tr>
                            <th>Vârsta</th>
                            <th><i class="fas fa-calendar-day"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                            <th>Preț</th>
                        </tr>
                        <tr>
                            <td>Copii 4-7 ani</td>
                            <td>Sâmbătă</td>
                            <td>14:00 - 15:00</td>
                            <td rowspan="3">150 lei/modul*</td>
                        </tr>
                        <tr>
                            <td>Copii 8-11</td>
                            <td>Sâmbătă</td>
                            <td>15:30 - 17:00</td>
                        </tr>
                        <tr>
                            <td>Copii 12-14</td>
                            <td>Sâmbătă</td>
                            <td>17:30 - 19:00</td>
                        </tr>
                    </table>
                </div>
                <span>*Module: Autocunoaștere, Gestionarea emoțiilor, Comunicare și relații interpersonale. Fiecare
                    modul se
                    desfășoară pe parcursul a 5 ședințe. Cost modul 150 lei.
                </span>
            </div>
        </article>
    </section>