<section class="aboutus">
    <div class="about-us-content">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/logocircular.png">
            <img src="../../../assets/images/logocircular.png" alt="Logo" class="logo-hero-about-us">
        </picture>
        <p class="padding-around">
            <span>În spatele BEST Academy</span> se află o echipă de tineri profesioniști care pun multă pasiune în
            ceea ce fac. Ne dorim să atingem performanța împreună! De altfel, cuvintele care ne descriu cel mai bine
            activitatea sunt: ”educație
            cu bucurie ”. Îți oferim cursuri de limbi străine și ateliere educaționale pentru o dezvoltare
            armonioasă a copiilor și adolescenților, totul într-un mediu vesel și prietenos în care oricine poate
            evolua! Suntem mai mult decât o echipă
            de traineri; suntem partenerii voștri în educație!
        </p>
    </div>
</section>