<section class="workshops-slideshow">
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-1.png">
        <img src="../../../assets/images/workshops-slideshow-1.png" alt="Slideshow Image">
    </picture>
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-2.png">
        <img src="../../../assets/images/workshops-slideshow-2.png" alt="">
    </picture>
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-3.png">
        <img src="../../../assets/images/workshops-slideshow-3.png" alt="">
    </picture>
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-4.png">
        <img src="../../../assets/images/workshops-slideshow-4.png" alt="">
    </picture>
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-5.png">
        <img src="../../../assets/images/workshops-slideshow-5.png" alt="">
    </picture>
</section>