.languages-options-bar {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .languages-options-bar a {
    width: 15%;
  }
  
  .languages-options-bar img {
    width: 100%;
    height: 100%;
  }
  
  .languages-options-bar img:hover {
    transform: scale(1.1);
  }