<section class="languages-options-bar">
    <a href="#english-kids">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/englishcourse.png">
            <img src="../../../assets/images/englishcourse.png" alt="Curs de engleza">
        </picture>
    </a>
    <a href="#french">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/frenchcourse.png">
            <img src="../../../assets/images/frenchcourse.png" alt="Curs de franceza">
        </picture>
    </a>
    <a href="#german">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/germancourse.png">
            <img src="../../../assets/images/germancourse.png" alt="Curs de germana">
        </picture>
    </a>
    <a href="#spanish">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/spanishcourse.png">
            <img src="../../../assets/images/spanishcourse.png" alt="Curs de spaniola">
        </picture>
    </a>
    <a href="#russian">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/russiancourse.png">
            <img src="../../../assets/images/russiancourse.png" alt="Curs de rusa">
        </picture>
    </a>
    <a href="#japanese">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/japanesecourse.png">
            <img src="../../../assets/images/japanesecourse.png" alt="Curs de japoneza">
        </picture>
    </a>
</section>