<section class="marketing">
    <div class="centered-text-box marketing-box">
        <picture>
            <source media="(max-width: 465px)" srcset="../../../assets/images/opt-imgs/languages-bckg_r1.jpg">
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/languages-bckg_r2.jpg">
            <img src="../../../assets/images/languages-bckg.jpg" alt="Imagine Fundal">
        </picture>
        <h2>Cursuri de limbi străine</h2>
        <p>
            La BEST Academy se predau pe tot parcursul anului, fără întrerupere, în grupuri organizate, cursuri de
            limba engleză, germană, franceză, italiană și spaniolă.
        </p>
        <a href="languages.html">
            <button class="marketing-button marketing-button-languages">
                Află mai multe!
            </button>
        </a>
    </div>
    <div class="centered-text-box marketing-box marketing-box-workshops">
        <picture>
            <source media="(max-width: 465px)" srcset="../../../assets/images/opt-imgs/workshops-bckg_r1.jpg">
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-bckg_r2.jpg">
            <img src="../../../assets/images/workshops-bckg.jpg" alt="Imagine Fundal">
        </picture>
        <h2>Ateliere și module</h2>
        <p>
            Atelierele pe care le oferim încadrează o gamă largă de teme precum programare și robotică, dezvoltare
            personală, șah, pictură și cusături tradiționale.
        </p>
        <a href="workshops.html">
            <button class="marketing-button marketing-button-workshops">
                Află mai multe!
            </button>
        </a>
    </div>
</section>