<article class="contact-form">
    <form method="post" action="validation.php">
        <label>Nume:</label>
        <input class="input" type="text" name="name" placeholder="Numele dumneavoastră">
        <span class="error"></span>
        <label>Email:</label>
        <input class="input" type="text" name="email" placeholder="Adresa dumneavoastră de mail">
        <span class="error"></span>
        <label>Număr de telefon:</label>
        <input class="input" type="text" name="tel" placeholder="Numărul dumneavoastră de telefon">
        <span class="error"></span>
        <label>Topic:</label>
        <input class="input" type="text" name="topic" placeholder="Despre ce vreți să vorbim?">
        <span class="error"></span>
        <label>Mesaj:</label>
        <textarea name="message" placeholder="Mesajul dumneavoastră"></textarea>
        <span class="error"></span>
        <input class="submit" type="submit" name="submit" value="Trimite!">
        <span class="success"></span>
        </form>
</article>