<section class="recommandations">
    <h2 id="id">Recomandările noastre
        <a href="https://www.facebook.com/BESTCalarasi/"> @BESTCalarasi</a>
    </h2>
    <div data-slick='{"slidesToShow": 2, "slidesToScroll": 4}' class="recommandations-box">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview1.png">
            <img src="../../../assets/images/fbreview1.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview2.png">
            <img src="../../../assets/images/fbreview2.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview3.png">
            <img src="../../../assets/images/fbreview3.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview4.png">
            <img src="../../../assets/images/fbreview4.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview5.png">
            <img src="../../../assets/images/fbreview5.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview6.png">
            <img src="../../../assets/images/fbreview6.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview7.png">
            <img src="../../../assets/images/fbreview7.png" alt="Facebook Review">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/fbreview8.png">
            <img src="../../../assets/images/fbreview8.png" alt="Facebook Review">
        </picture>
    </div>
</section>