<section class="resources">
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/circularwhitelogo.png">
        <img src="../../../assets/images/circularwhitelogo.png" alt="Teaching">
    </picture>
    <div class="resources-content">
        <h2>BEST Academy le pune la dispoziție cursanților:</h2>
        <ul>
            <li>
                <p>
                    <span>resurse moderne</span> necesare studiului
                </p>
            </li>
            <li>
                <p>
                    <span>biblioteca bilingvă</span> pentru fiecare categorie de vârstă, cu posibilitatea de
                    împrumut
                </p>
            </li>
            <li>
                <p>
                    <span>manuale</span> de ultima oră de la edituri de mare prestigiu internațional, precum ELT,
                    Oxford University Press, Macmillan, Longman, Express Publishing, Hatier-Didier, Hachette,
                    Guerra, Edilingua, Langenscheidt, Hueber, SGEL-Madrid
                    etc.
                </p>
            </li>
            <li>
                <p>
                    în funcție de limba străină și nivel, manualele sunt completate de <span>caiete de exerciții,
                        cărți,
                        culegeri de teste, CD-uri și DVD-uri </span>
                </p>
            </li>
            <li>
                <p>
                    În funcție de limbă sau de nivel, manualele acoperă <span>unul sau două module de curs.</span>
                    La acestea profesorii adaugă curent texte, exerciții lexicale și gramaticale, înregistrări
                    audio, materiale video adaptate nevoilor
                    cursanților, <span>toate oferite de biblioteca de resurse BEST Academy;</span>
                </p>

            </li>
            <li>
                <p>
                    <span>o programă de studiu diversă, </span> dar bazată pe nevoile cursantului la școală sau în
                    alt context;
                </p>
            </li>
            <li>
                <p>
                    <span>patru săli amenajate special</span> pentru a crea un ambient prielnic procesului de
                    învățare cu hol filtru generos.
                </p>
            </li>
        </ul>
    </div>
</section>