<div class="contact-text">
    <article class="contact-box">
        <h2>Contactează-ne!</h2>
        <p>
                        Apreciem interesul față de cursurile și atelierele noastre! Completați cererea și vă vom contacta în următoarele 24h!
        </p>
        <p>
            Pentru asistență imediată, apelați biroul nostru la +40 721 257 080.
        </p>
    </article>
    <article class="contact-box">
        <h2>Adresa</h2>
        <p>
                            Adresa și datele noastre de contact sunt:
        </p>
        <div class="contact-details">
            <p>
                <i class="fas fa-map-pin"></i>
                Strada Borcea, nr. 14, Călărași (Clădirea Polar la etaj)
            </p>
            <p>
                <i class="fas fa-phone-alt"></i>
                Adela Barz +40 721 257 080
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                office@bestacademy.co
            </p>
        </div>
    </article>
</div>