<article class="first-module" id="first-module">
    <div class="first-module-header">
        <h2>Modul 1: Engleză și Dezvoltare Personală</h2>
        <span><i class="fas fa-calendar-day"></i> 1 - 12 iulie <br> Luni - Vineri </span> <br>
        <span><i class="fas fa-clock"></i>09:00-12:00</span> <br>
        <span>Cost: 400 lei</span> <br>
    </div>
    <div class="first-module-content-container">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-4.png">
            <img src="../../../assets/images/workshops-slideshow-4.png" alt="Primul modul">
        </picture>
        <div class="first-module-content">
            <div class="first-module-content-english">
                <h3>Engleză</h3>
                <p>
                    Pentru cele 20 de ore de engleză speciale, am gândit activități speciale ce vor antrena
                    copiii să participe în cadrul jocurilor interactive, să rezolve fișe de lucru și să
                    realizeze lucrări practice specifice vârstei lor. Astfel, prin intermediul activităților
                    interactive desfășurate pe parcursul fiecărei lecții, a poveștilor introductive și a
                    cântecelor antrenante, copiii vor învăța cu plăcere limba engleză și își vor dezvolta în
                    același timp abilități sociale esențiale, creativitatea
                    și gândirea. Bucuria este înmulțită când este împărțită cu alții. În vacanță la Academie ne
                    distrăm și învățăm lucruri noi, în fiecare zi! De la mic la mare!
                </p>
            </div>
            <div class="first-module-content-pd">
                <h3>Dezvoltare Personală</h3>
                <p>
                    În grup, copiii:
                    <ul>
                        <li>
                            Sunt ajutați să-și exprime trăirile și emoțiile, să manifeste atitudini de respect
                            și încredere în ceilalți;
                        </li>
                        <li>
                            Sunt sprijiniți să dezvolte abilități de cooperare și intrajutorare, învață cum să
                            fie buni prieteni, să-și identifice propriile emoții și ale altora și să le exprime
                            într-o manieră constructivă pentru sine sau ceilalți;
                        </li>
                        <li>
                            Sunt ajutați să rezolve eficient un conflict și să lucreze în echipă, să exerseze și
                            să aplice abilități de comunicare și colaborare.
                        </li>
                        <li>
                            Sunt stimulați să-și dezvolte abilitățile de autonomie personală, spre a-și
                            descoperi și exersa abilități noi și creative de petrecere a timpului liber.
                        </li>
                    </ul>
                    <span>
                        Coordonator: prof. Psiholog școlar Georgiana Panait
                    </span>
            </div>
        </div>
    </div>
</article>
<article class="second-module" id="second-module">
    <div class="second-module-header">
        <h2>Modul 2: Extinderea orizonturilor</h2>
        <span><i class="fas fa-calendar-day"></i> 15 - 26 iulie <br> Luni - Vineri </span> <br>
        <span><i class="fas fa-clock"></i>09:00-12:00</span> <br>
        <span>Cost: 400 lei</span> <br>
    </div>
    <div class="second-module-content-container">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/workshops-slideshow-5.png">
            <img src="../../../assets/images/workshops-slideshow-5.png" alt="Al doilea modul">
        </picture>
        <div class="second-module-content">
            <p>
                Modulul 2 vine cu acea combinație perfectă de activități pentru minte, trup și suflet😘🤗.
                Vorbire în public, dicție, teatru, activități de DIY, astrologie, științe, gastronomie, mișcare,
                exerciții de dezvoltare a creativității și gândirii creative, artă
                recreativă. Învățăm să comunicăm, să colaborăm și să învățăm din greșeli pentru a inova în
                cadrul proiectelor practice.
            </p>
            <ul style="list-style-type: none;">
                <li>
                    👍 creşterea încrederii în sine;
                </li>
                <li>
                    👍 dezvoltarea imaginaţiei;
                </li>
                <li>
                    👍 dezvoltarea abilităţilor de socializare şi colaborare;
                </li>
                <li>
                    👍 dezvoltarea abilităţilor practice, de gestionare a timpului, de concentrare şi memorare;
                </li>
                <li>
                    👍 facilitarea controlului emoţiilor;
                </li>
                <li>
                    👍 distracţie şi relaxare.
                </li>
            </ul>
            <p>
                Mai sunt câteva locuri libere la Modulul 2. Îl așteptăm și pe copilul tău!
            </p>
        </div>
    </div>
</article>