<section class="language-courses-container">
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/logocircular.png">
        <img src="../../../assets/images/logocircular.png" alt="Logo" class="languages-logo">
    </picture>
    <div class="language-courses-text">
        <h2>La BEST Academy</h2>
        <p>
            Există o soluție pentru orice categorie de vârstă și posibilitatea de a testa abilitățile și
            cunoștințele copiilor pe parcursul a două, trei ședințe, urmând să fie relocați, dacă este necesar, la
            grupa cea mai potrivită pentru un progres real și continuu.
        </p>
        <p>
            Examenele Cambridge pentru copii sunt o alegere recunoscută pentru evaluarea lingvistică la cele mai
            înalte standarde.
        </p>
        <p>
            Cursurile BEST Academy facilitează obținerea certificatului în urma parcurgerii orelor de studiu
            aferente și a pregătirii pe tipologia de exercițiu specifică. Pregătirea pentru examen se face cu
            materiale de studiu dedicate, prin simulări periodice.
        </p>
        <p class="centered-text-box">
            Magic combination: love, support, proper guidance, appreciation and mutual effort 💝. Happy Learning!
        </p>
    </div>
</section>