<section class="introduction">
    <picture>
        <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/aboutuspromo.jpg">
        <img src="../../../assets/images/aboutuspromo.jpg" alt="Teaching">
    </picture>
    <div class="introduction-content">
        <h2>La BEST Academy, cursanții beneficiază de:</h2>
        <ul>
            <li>
                <p>
                    <span>profesori dedicați</span>
                </p>
            </li>
            <li>
                <p>
                    <span>folosirea activă a limbii</span> în situații reale
                </p>
            </li>
            <li>
                <p>
                    <span>îndrumare</span> și cursuri potrivite pentru fiecare etapă a vieții
                </p>
            </li>
            <li>
                <p>
                    <span>program flexibil</span> în limita disponibilității de timp a îndrumătorului de curs
                </p>
            </li>
            <li>
                <p>
                    <span>progresul treptat</span> în cele cinci competențe recunoscute pe plan internațional:
                    înțelegerea limbii vorbite, citirea și înțelegerea unui text scris, capacitatea de a comunica
                    oral (de a participa la o conversație), capacitatea
                    de a se exprima oral (producerea unui discurs autonom), (redactarea unui text corect si coerent)
                </p>

            </li>
            <li>
                <p>
                    <span>îndrumare și monitorizare</span> pas cu pas pentru un progres consistent
                </p>
            </li>
            <li>
                <p>
                    <span>un mediu prietenos</span> și sigur pentru învățare și aprofundare
                </p>
            </li>
            <li>
                <p>
                    <span>metodologii și materiale</span> (manuale, exerciții, teste) de actualitate, publicate în
                    străinatate și concepute exact pentru pregătirea examenului țintit de către cursant
                </p>
            </li>
            <li>
                <p>
                    <span>metode de predare interactive</span> în care accentul este pus pe comunicare, fără a fi
                    însă neglijate explicațiile și exercițiile gramaticale și lexicale
                </p>
            </li>
        </ul>
    </div>
</section>