.introduction picture {
    width: 30%;
    height: 100%;
  }
  
  .introduction img{
    width: 100%;
  }
  
  .introduction h2{
    line-height: 100%;
    font-size: 1em;
  }
  
  .introduction-content {
    width: 60%;
    padding-left: 15px;
  }
  .introduction{
  display: flex;
  flex-direction: row;
  width: 90%;
  border-radius: 2%;
  border: 20px solid #c5da5f;
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  margin: 0 auto;
  margin-top: 2%;
}