<section class="workshops-options-bar" id="workshops-options-bar">
    <a href="#robotics">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/roboticsworkshop.png">
            <img src="../../../assets/images/roboticsworkshop.png" alt="Atelier de robotica">
        </picture>
    </a>
    <a href="#painting">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/paintingworkshop.png">
            <img src="../../../assets/images/paintingworkshop.png" alt="Atelier de pictura">
        </picture>
    </a>
    <a href="#chess">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/chessworkshop.png">
            <img src="../../../assets/images/chessworkshop.png" alt="Atelier de sah">
        </picture>
    </a>
    <a href="#sewing">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/sewingworkshop.png">
            <img src="../../../assets/images/sewingworkshop.png" alt="Atelier de cusaturi traditionale">
        </picture>
    </a>
    <a href="#dp">
        <picture>
            <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/pdworkshop.png">
            <img src="../../../assets/images/pdworkshop.png" alt="Atelier de dezvoltare personala">
        </picture>
    </a>
</section>