<article class="summer-courses-stories">
    <div class="story-box">
        <h2>Jurnal de bucurie din vara 2018</h2>
        <div class="summer-courses-content">
            <p>
                Vara a început cum nu se putea mai bine pentru copiii ce s-au înscris la cursurile de vară de la
                Best Academy.
                Timp de două săptămâni, micuții au avut parte de trei ore zilnice de distracție și învățare prin
                diferite jocuri
                aduse la viață de o echipă plină de entuziasm: pe lângă nelipsita (și foarte iubita) profesoară
                Ade,
                cei mici s-au
                bucurat de prezența Georgianei, o femeie minunată și un psiholog școlar deosebit, dar și a unui
                grup
                de voluntari
                iubitori de copii, de joacă și de învățat lucruri noi.
            </p>
            <p>
                Ziua de 2 iulie a fost una specială, deoarece copiii au făcut cunoștință cu toate profesoarele
                care
                le-au fost alături
                pe parcursul cursurilor de vară, s-au reîntâlnit cu Ade, au aflat lucruri noi de la Georgi și au
                profitat de latura
                copilărească a voluntarilor entuziasmați și, poate, puțin copleșiți de inocența și frumusețea
                micuților ce îi înconjurau.
                Au urmat zile cel puțin la fel de bune pentru toată lumea. Împărțiți în patru grupe diferite, în
                funcție de vârstă și de
                nivelul de cunoaștere a limbii engleze, cei peste 50 de aspiranți la învățare și progres și-au
                petrecut diminețile într-un
                stil vesel, jucăuș și inovator, fiecare zi pregătindu-le acestora noi provocări și noi metode de
                a
                se descoperi și de a
                descoperi lumea din jurul lor.
            </p>
            <p>
                Georgi a fost un ajutor nelipsit, prezentându-le copiilor idei interesante și jucându-se alături
                de
                ei, pentru a-i ajuta
                să înțeleagă mai bine aspectele ce tocmai au fost învățate. Totul a început prin a le explica
                micuților conceptul de
                dezvoltare personală, ceea ce a fost îndeajuns pentru ca mințile lor perspicace să facă diverse
                legături și conexiuni.
                Am fost surprinsă în mod plăcut să observ cum inocența lor neștirbită putea da înțelesuri atât
                de
                frumoase și de curate
                unor termeni precum "prietenie", "iubire", "încredere", cum, cu o sfială tipic copilărească și
                cu o
                oarecare ezitare, din
                frica de a nu greși, copiii încercau să explice de ce oamenii au nevoie să lucreze împreună, să
                coordoneze și să coopereze. Ceea ce nu știau ei, însă, era că nimic din ce au spus în acea zi nu
                a
                fost nici măcar aproape de a fi greșit: am auzit idei atât de frumoase, de interesante, idei
                care
                prin inocenta lor simplicitate erau deosebit de profunde, încât tot ce crezusem până atunci
                despre
                conceptele aduse în discuție de Georgi a fost cel puțin pus la îndoială, dacă nu chiar dărâmat.
                Cu
                ajutorul acestei femei minunate, ei au învățat ceva foarte important: că tot ceea ce trebuiau să
                știe venea, într-un final, tot din propria lor minte. Iar acest lucru e cel mai important când
                vine
                vorba despre dezvoltarea personală.
            </p>
            <span class="read-more" id="read-more-2018">
                Citește mai mult <i class="far fa-caret-square-down"></i>
            </span>
            <span class="read-more hidden-content" id="read-less-2018">
                Citește mai puțin <i class="far fa-caret-square-up"></i>
            </span>
            <div class="hidden-content" id="wrapper-content-2018">
                <p>
                    Cei mai mici dintre cei mici (kinderii, cum ne place nouă să le spunem) au fost cuceriți cu
                    totul de
                    Ioana, a cărei atitudine i-au făcut să o îndrăgească încă din prima zi. Prin jocuri
                    potrivite
                    vârstei, care să îi țină constant "în priză", aceștia au fost introduși de către tânăra lor
                    profesoară în universul cunoașterii limbii engleze: au învățat să numere, să denumească
                    diferite
                    animale, să numească părți ale corpului omenesc, diferite acțiuni pe care le puteau face și
                    o
                    mulțime de alte lucruri pe care, la plecare, le povesteau cu entuziasm părinților sau
                    bunicilor.
                    La
                    finalul zilei, momentul în care toată lumea se simțea împlinită era când vedeam zâmbetele
                    sincere
                    ale copiilor care plecau, fericiți, spre casă.
                </p>
                <p>
                    Monica și Cătălina au fost o pereche inseparabilă de-a lungul celor două săptămâni,
                    funcționând
                    deosebit de bine atunci când intrau în sălile de clasă împreună. Plimbându-se pe la toate
                    grupele de
                    copii, ele s-au făcut la fel de plăcute precum Ioana, iar modul lor de predare și de joacă a
                    avut un
                    efect vizibil, deoarece vocabularul celor mai mici dintre copii se îmbogățea pe zi ce
                    trecea,
                    iar
                    cei mai mari se perfecționau constant la rephrasing-uri. Ele au dat dovadă de o seriozitate
                    remarcabilă și de un profesionalism de lăudat, știind totodată când să renunțe pentru câteva
                    momente
                    la reguli pentru a se juca cu copiii atât de drăgălași, care le priveau cu admirație și
                    respect.
                </p>
                <p>
                    Cât despre mine... Eu am "funcționat" cel mai bine alături de Iulia și de Carla, două fete
                    minunate
                    care mereu au știut cum să mă completeze și cum să îi abordeze pe "morcovei" pentru a le
                    capta
                    atenția. Nouă ne-a plăcut încă din prima zi să combinăm utilul cu plăcutul, așa că am făcut,
                    probabil, exces de joculețe și de "story time"-uri, lucruri care, totuși, ne-au ajutat să ne
                    apropiem foarte mult de micuții pe care am ajuns să îi îndrăgim sincer. I-am văzut pe mulți
                    dintre
                    ei învățând de la o zi la alta tot mai multe lucruri, încercând să răspundă cât mai mult și
                    dându-și
                    cu adevărat interesul, iar asta m-a făcut pe mine, dar cu siguranță și pe celelalte fete, să
                    mă
                    simt
                    împlinită.
                </p>
                <p>
                    Probabil că cea mai implicată dintre noi toate a fost Ade; sufletul ei de copil continuă să
                    se
                    hrănească cu zambete și râsete de copii frumoși și deștepți, iar energia care gravita zilnic
                    în
                    jurul Academiei o făceau, mai mult ca sigur, să se simtă cu adevărat fericită,
                    la fel cum ne făcea și pe noi. Era prezentă la fiecare oră, la fiecare grupă. Dacă nu cu
                    trupul,
                    cu
                    sufletul și prin noi, voluntarii care duceau mai departe cunoștințe pe care tot ea le-a
                    sădit,
                    la un
                    moment dat. Copiii o iubesc enorm și asta s-a văzut în mod special la cursurile de vară:
                    când
                    urcau
                    scările, o căutau mereu cu privirea pentru a-i spune "good morning"; dacă erau vreodată
                    agitați,
                    era
                    de ajuns să vină lângă ei și se calmau aproape instant; dacă aveau nevoie de ceva, știau că
                    Ade
                    îi
                    va ajuta cu tot dragul. Ce poate fi mai frumos de atât? Să fii profesor nu este ușor, este
                    chiar
                    obositor și, uneori, chinuitor, însă dacă vreodată a existat un om de-a dreptul potrivit
                    pentru
                    această meserie, acela a fost Adela Barz. Să vadă zilnic peste 50 de fețe, să le recunoască
                    pe
                    toate, să îi știe povestea fiecăreia, să le ofere tuturor mângâiere, să sădească în mintea
                    fiecăreia
                    noi informații, să fie cea care îi ajută pe toți să se ridice la un nivel superior, chiar la
                    împlinire; să facă asta zilnic, an de an, jumătate din viață, să obosească până când nu mai
                    poate
                    nici măcar să se ridice dimineața pentru a opri alarma și, cu toate astea, să găsească
                    oricare
                    urmă
                    de energie și să ia totul de la capăt, cu același zâmbet pe față și aceeași liniște în
                    suflet,
                    știind că o face pentru copii; să simtă cum îi este chinuit sufletul de o oboseală cronică,
                    dar
                    în
                    fiecare dimineață să lase inocența copiilor să i-l vindece; să trăiască în modul ăsta zi de
                    zi,
                    fără
                    să se plângă, ci chiar mulțumind cerului pentru puterea pe care o primește zilnic; să nu se
                    simtă în
                    stare nici măcar să vorbească, însă, la întrebarea "cum reziști?", să răspundă, zâmbind, "cu
                    ușurință". Asta înseamnă un profesor cu adevărat bun și asta este ceea ce noi toți am văzut
                    la
                    Adela
                    în aceste zile ale cursului de vară. Continuitate. Perseverență. Performanță. Înțelegere.
                    Încredere.
                    Iubire...
                </p>
                <p>
                    Așa cum am spus, vara a început cum nu se putea mai bine pentru copiii ce s-au înscris la
                    cursurile
                    de vară de la Best Academy. Însă nu doar pentru ei, ci și pentru noi, cei care ne-am ocupat
                    de
                    programul lor zilnic. Iar acum, când totul deja s-a încheiat, nu pot decât să fiu
                    recunoscătoare
                    că
                    am avut ocazia să particip la educarea acestor micuți elevi și, mai mult, că am învățat eu
                    multe
                    lucruri de la ei.
                </p>
            </div>
        </div>
    </div>
    <div class="story-box">
        <h2>2019 - O altă vară, o altă poveste măreață...</h2>
        <div class="summer-courses-content">
            <p>
                Luna iulie a fost cu adevărat specială; printre zeci de copii plini de energie, printre tot
                atâtea
                zâmbete pure și inocente și printre chiar și mai multe idei inovatoare, toată lumea s-a simțit
                bine
                și a învățat o mulțime de lucruri noi.
            </p>
            <p>
                O echipă numeroasă de voluntari (unii „boboci“, alții „veterani“) s-a ocupat vara aceasta de
                activitățile de învățare, dar și de jocurile interactive desfășurate în incinta Academiei. De la
                pescuitul de cuvinte și până la pictatul cu picioarele, de la scenetele în limba engleză și până
                la
                competiția culinară „Best Chef“, fiecare zi a fost prevăzută cu activități inovative care le-au
                antrenat constant copiilor cunoștințele și creativitatea.
            </p>
            <p>
                Primul modul s-a desfășurat în limba engleză, încurajându-i astfel pe cei mici să valorifice
                informațiile acumulate de-a lungul anului școlar abia încheiat și, totodată, să își lărgească
                orizonturile, să pună multe întrebări și să nu părăsească niciodată sala de curs fără să fi
                învățat
                cel puțin un lucru nou în acea zi. Astfel, prin experiențe inedite precum căutarea de comori
                (probabil cea mai așteptată și cea mai cerută activitate dintre toate), fabricarea și vânzarea
                de
                rațe (care a solicitat învățarea unor tehnici de negociere) și scenetele interactive cu cerințe
                neașteptate (speaking English with a Russian accent? Whaaat?!), copiii s-au văzut puși în fața
                unor
                noi provocări, pe care le-au acceptat cu entuziasm. Am fost surprinși plăcut de receptivitatea
                de
                care au dat dovadă și de ușurința cu care au reușit să își susțină argumentele în diversele
                dezbateri din cadrul cursurilor sau dinafara lor, dovedindu-se din nou faptul că și cei mari au
                multe de învățat de la cei mici.
            </p>
            <span class="read-more" id="read-more-2019">
                Citește mai mult <i class="far fa-caret-square-down"></i>
            </span>
            <span class="read-more hidden-content" id="read-less-2019">
                Citește mai puțin <i class="far fa-caret-square-up"></i>
            </span>
            <div class="hidden-content" id="wrapper-content-2019">
                <div class="slideshow-gallery">
                    <div class="storybox-slideshow-single" id="slideshow-gallery">
                        <picture>
                            <img src="images/storybox2019-1.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-2.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-3.jpg" alt="Poza curs de vara 2019">
                        </picture>

                        <picture>
                            <img src="images/storybox2019-7.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-8.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-10.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-11.jpg" alt="Poza curs de vara 2019">
                        </picture>
                    </div>
                    <div class="storybox-slideshow">
                        <picture>
                            <img src="images/storybox2019-1.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-2.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-3.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-7.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-8.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-10.jpg" alt="Poza curs de vara 2019">
                        </picture>
                        <picture>
                            <img src="images/storybox2019-11.jpg" alt="Poza curs de vara 2019">
                        </picture>
                    </div>
                </div>
                <p>
                    Odată cu cel de-al doilea modul au sosit și mai multe provocări, și mai multe jocuri
                    interactive, și
                    mai multe activități care i-au făcut pe cursanți să părăsească zona lor de confort. Probabil
                    cea
                    mai
                    plăcută și, totodată, cea mai amuzantă zi a fost cea în care copiii s-au împărțit în grupe
                    și au
                    participat la competiția „Best Chef “. Cu nerăbdarea specifică vârstei și cu certitudinea că
                    se
                    vor
                    distra de minune, cei mici și-au petrecut aproape două ore gătind și pregătind preparatele
                    pentru o
                    servire impecabilă în fața juriului. Am avut, pe lângă delicioasele feluri de mâncare, două
                    surprize
                    plăcute. Prima a fost cauzată de o echipă care, după ce a terminat prepararea burrito-ului
                    pe
                    care
                    urma să îl servească, s-a trezit cu el împrăștiat pe jos; atitudinea celor mici a fost însă
                    una
                    ce
                    ne-a inspirat multă maturitate și mult control de sine, astfel că au reușit în timp util să
                    curețe
                    zona și să își reia activitatea, terminând exact la fimp. A doua surpriză a constat în
                    cuvintele
                    frumoase ale lui Horia, care, după ce s-au anunțat câștigătorii competiției, le-a transmis
                    celorlalți că toți au ieșit învingători, deoarece s-au distrat și au reușit să lucreze
                    împreună.
                </p>
                <p>
                    Activitățile pe care le-am desfășurat au fost extrem de diversificate și de numeroase, toate
                    interesante și frumoase, fiecare în parte reușind să îi facă pe cei mici să descopere ceva
                    nou
                    în
                    interiorul sau în jurul lor. I-am văzut pe fiecate în parte evoluând, crescând, învățând în
                    decursul
                    a doar câteva săptămâni și ne-a uimit energia pozitivă pe care toți o emanau în jurul
                    Academiei.
                    La
                    finalul celor patru săptămâni, ne-am scris bilețele anonime și, după ce toți copiii au
                    plecat,
                    am
                    început să le citim; am plâns cum nu am mai plâns niciodată. Am vărsat lacrimi de bucurie,
                    de
                    recunoștință și de împlinire pentru că am reușit să sădim în acești copii sămânța unui
                    viitor
                    frumos, a adevăratelor valori morale și a fericirii de a-i ajuta pe ceilalți. După atâtea
                    zile
                    petrecute în mijlocul lor, nu putem decât să le ducem dorul, să sperăm că vor avea o vacanță
                    relaxantă și să așteptăm cu nerăbdare următoarea întâlnire, pentru că...
                </p>
                <p>
                    Povestea noastră încă nu s-a încheiat!
                </p>
            </div>
        </div>
    </div>
</article>