<section class="benefits">
    <h2>
        De ce sunt importante cursurile BEST Academy?
    </h2>
    <div class="benefits-container">
        <div class="benefits-box">
            <fa name="university"></fa>
            <h3>Profesori Certificați</h3>
            <p class="padding-top">
                La BEST Academy, cursanții beneficiază de ajutorul celor mai buni profesori pe plan local, învățând
                cu bucurie o nouă limbă straină
            </p>
        </div>
        <div class="benefits-box">
            <fa name="book"></fa>
            <h3>Materiale Didactice</h3>
            <p class="padding-top">
                La BEST Academy, cursanții au la dispoziție atât ultimele manuale, dar și o bibliotecă
                multilingvistică
            </p>
        </div>
        <div class="benefits-box">
                <!-- <i class="fas fa-people-carry padding-top-big"></i> -->
                <fa name="child"></fa>
            <h3>Mediu Încurajator</h3>
            <p class="padding-top">
                La BEST Academy, încurajăm fiecare cursant să își dezvolte abilitățile lingvistice alături de
                ceilalți participanți ai fiecărei grupe
            </p>
        </div>
    </div>
</section>