<section class="qualifications">
    <div class="qualifications-box">
        <picture>
            <source media="(max-width: 865px)" srcset="../../assets/images/opt-imgs/ielts_r.jpg">
            <img src="../../assets/images/ielts.jpg" alt="Cambridge Logo">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../assets/images/opt-imgs/cambridge_r.png">
            <img src="../../assets/images/cambridge.png" alt="Cambridge Logo">
        </picture>
        <picture>
            <img src="../../assets/images/delf.png" alt="DELF Logo">
        </picture>
        <picture>
            <source media="(max-width: 865px)" srcset="../../assets/images/opt-imgs/eec_r.png">
            <img src="../../assets/images/eec.png" alt="EEC Logo">
        </picture>
    </div>
</section>