<section class="english-with-ade">
    <h2 class="english-with-ade-headline">#EnglishWithAde</h2>
    <div class="testimonial-container-slideshow">
        <article class="testimonial-container">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/testimonial1.jpg">
                <img src="../../../assets/images/testimonial1.jpg" alt="Alexandra Carla" class="testimonial-image">
            </picture>
            <div class="testimonial-header">
                💟Alexandra Carla💟McGill University, CANADA, Biological Sciences, Physiology and Mathematics
            </div>
            <div class="testimonial-content">
                <p>
                    EnglishwithAde - Muncă, dar în același timdistracție: așa a fost engleza cu Adela. Dincolo de
                    cărți și rezultatele obținute lexamene, Adela este persoana căreia îdatorez bursa de admitere la
                    facultate: toate ideeile, creativitatea șîncurajările ei m-au
                    împins să țintesc câmai departe.
                </p>
                <p>
                    Adela m-a încurajat dincolo de școală și acrezut în mine în clipele în care nici măcareu nu
                    credeam. Este o profesoară excelentă care îți cultiviubirea față de limba engleză prin
                    simplulfapt ca vede tot ce e mai bun în fiecare dintre noi. 2 ani după absolvirea
                    liceului și ea este singura care încă îmi scrie mesaje să mă întrebe cum sunt și ce fac.
                </p>
                <p>
                    Îi sunt pentru întotdeauna recunoscătoar doar pentru 4 ani în care m-a învăța răbdare și zâmbete
                    (chiar și când nu le meritam!), dar pentru 4 în care cineva m-a îndrumat și mi-a of sprijin
                    necondiționat! Notele, examenele, IELTS-ul nu pot cuprind câte
                    ori Adela mi-a transformat ceea c priveam ca pe un eșec într-un zâmbet sau orele de răbdare,
                    înțele și sprijin pe care mi le-a acordat.
                </p>
            </div>
        </article>
        <article class="testimonial-container">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/testimonial2.jpg">
                <img src="../../../assets/images/testimonial2.jpg" alt="Sandra Iosif" class="testimonial-image minimize-image-height">
            </picture>
            <div class="testimonial-header">
                💟SANDRA IOSIF💟, Erasmus University RotterdamHolland, International Bachelor iCommunication and
                Media 🎓
            </div>
            <div class="testimonial-content">
                <p>
                    #EnglishwithAde nu este nici pe departe doao simplă oră de curs. Pe lângacumularea unor
                    cunoștințe avansate privind limba engleză, presupune un anumimod de gândire, definit de
                    pozitivitatși multă muncă. Prin intermediul cursurilor am învățat mult mai
                    mult decalimba engleză. Am invățat că trebuie sîmi aleg scopuri înalte și să încerc să evoluez
                    din ce în ce mai mult.
                </p>
                <p>
                    #EnglishwithAde este cu siguranță cea mabună variantă pentru toate vârstele ștoate tipurile de
                    personalități, un context în care puteți lega prietenii șputeți învăța într-un mod distractivAde
                    is the best!
                </p>
            </div>
        </article>
        <article class="testimonial-container">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/testimonial3.jpg">
                <img src="../../../assets/images/testimonial3.jpg" alt="Alina Visalon" class="testimonial-image minimize-image-height">
            </picture>
            <div class="testimonial-header">
                💟Alina Visalon💟 Leeds Beckett University, Criminology with Psychology
            </div>
            <div class="testimonial-content">
                <p>
                    Am realizat undeva prin clasa a 12-a că îmi doream să urmez o facultate în Marea Britanie. Toate
                    bune și frumoase până în momentul în care am conștientizat că urma să susțin examenul de limba
                    engleză IELTS, iar eu și limba engleză nu eram cele mai bune
                    prietene. Am spus să încerc, cu toate ca timpul era limitat. Așa am început #EnglishwithAde.
                </p>
                <p>
                    Credeam că dacă știu să spun cum mă cheamă, câți ani am și unde locuiesc, engleza mea este de
                    nivel mediu. Prima oră de engleză a fost ca un șoc pentru mine - am realizat ca nu știu să leg
                    două cuvinte în limba engleză. Însă atmosfera prietenoasă și încrederea
                    cu care Ade mă privea m-au încurajat și am decis împreună că trebuie să încerc. Orele de engleză
                    cu Ade au fost foarte interactive, interesante, într-un maraton de lucru intensiv, iar eu
                    învățam cu drag! La câteva luni de la începerea
                    cursurilor, a urmat examenul IELTS. Susținerea și încurajările Adelei m-au făcut să trec peste
                    emoții și să mă prezint încrezătoare la examen. Prima persoană pe care am sunat-o să îi dau
                    vestea rezultatului frumos și să îi mulțumesc
                    a fost Ade.
                </p>
                <p>
                    Colaborarea noastră nu s-a încheiat aici, ba mai mult, totul s-a transformat într-o prietenie
                    frumoasă. Adela este una dintre puținele persoane cu ajutorul cărora am evoluat și în alte
                    direcții. Cu ajutorul Adelei am învățat cum să am încredere în forțele
                    proprii, cum să privesc cu optimism în jurul meu și cum să găsesc soluții potrivite pentru orice
                    situație. Mai mult decât atât, m-a susținut într-o alegere foarte importantă pentru mine, legată
                    de profilul facultății, de viitorul
                    meu. După un an de studii la University of Bedfordshire, UK, profilul Relații Publice, am simțit
                    că nu este locul meu acolo și am hotărât să mă reprofilez. Adela a fost acolo, m-a ascultat,
                    încurajat să îmi urmez visul, m-a îndrumat,
                    iar acum, eu, Alina, absolventa de filologie într-un orășel de provincie, studiez Criminologie
                    și Psihologie la celebra Universitate Leeds Beckett University din Marea Britanie.
                </p>
                <p>
                    Nu a fost un drum ușor, dar cu siguranță a fost unul frumos plin de caldură, încredere reciprocă
                    și prietenie! ❤
                </p>
            </div>
        </article>
        <article class="testimonial-container">
            <picture>
                <source media="(max-width: 865px)" srcset="../../../assets/images/opt-imgs/testimonial4.jpg">
                <img src="../../../assets/images/testimonial4.jpg" alt="Beatrice Cretu" class="testimonial-image">
            </picture>
            <div class="testimonial-header">
                💟Beatrice Crețu💟 stundentă în anul II la Facultatea de Jurnalism și Științele Comunicării,
                specializarea Publicitate, intern la Noizz.ro, blogger și scriitor wannabe, awkward human being
            </div>
            <div class="testimonial-content">
                <p>
                    The BEST is yet to come!💚Pentru mine, Adela a fost mereu mai mult decât cea mai bună profă pe
                    care aș fi putut să o am în anii de liceu. Sistemul românesc de învățământ are nevoie de mai
                    mulți oameni ca ea, care iubesc ceea ce fac și au grijă de elevii
                    lor dincolo de activitățile desfășurate în sălile de curs. Pe Ade o vedeai mereu plină de
                    energie, happy happy joy joy și fresh și te determina și pe tine să vrei să fii așa. De la ea am
                    învățat să îmi depășesc frica de public
                    speaking, să îmi dezvolt nivelul de engleză, să am încredere în potențialul meu și să ies din
                    zona de confort. Ade m-a încurajat să fiu eu și să accept provocări. Ade mi-a fost ca o mamă,
                    prietenă, motivational speaker, psiholog.
                    Ea m-a ajutat când eram doar o adolescentă pierdută și mi-a oferit guidance atât în probleme de
                    carieră și anxietate, cât și în iubire și viață în general. Și pentru asta îi mulțumesc și îi
                    sunt recunoscătoare, fiindcă și ea are
                    un merit pentru persoana care am devenit.
                </p>
                <p>
                    Sper ca mulți alți tineri să aibă șansa să o cunoască, pentru că #EnglishwithAde este mai mult
                    decât o simplă oră de engleză, ci reprezintă o experiență care chiar îți schimbă viața, oricât
                    de clișeic ar suna. Copiii au nevoie de cineva la care să aspire
                    și, în același timp, alături de care să se simtă înțeleși și apreciați, fără tiparele acelea
                    învechite elev-profesor.
                </p>
            </div>
        </article>
    </div>
</section>