<section class="contact">
    <div class="contact-opacity">
        <picture>
            <source media="(max-width: 865px)" srcset="../../assets/images/opt-imgs/logocircular.png">
            <img src="../../assets/images/logocircular.png" alt="Logo" class="contact-logo">
        </picture>
        <div class="contact-subsection">
            <h3 style="text-align:center">Linkuri</h3>
            <ul style="text-align:center">
                <li>
                    <a href="index.html">Acasă</a>
                </li>
                <li>
                    <a href="aboutus.html">Despre Noi</a>
                </li>
                <li>
                    <a href="languages.html">Limbi Străine</a>
                </li>
                <li>
                    <a href="workshops.html">Ateliere</a>
                </li>
                <li>
                    <a href="contact.php">Contact</a>
                </li>
            </ul>
        </div>
        <div class="contact-subsection">
            <h3>Adresa</h3>
            <p>
                <fa name="map-pin"></fa> Strada Borcea, nr. 14, Călărași (Clădirea Polar la etaj)
            </p>
        </div>
        <div class="contact-subsection">
            <h3>Contact</h3>
            <p>
                <fa name="phone"></fa> Adela Barz +40 721 257 080<br>
                
                <fa name="envelope"></fa> office@bestacademy.co
            </p>
            <div class="social-media">
                <a href="https://www.facebook.com/BESTCalarasi/">
                    <img src="../../assets/images/flogo.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/best_academy_calarasi/">
                    <img src="../../assets/images/instalogo.png" alt="Instagram">
                </a>
            </div>
        </div>
        <div class="contact-subsection">
            <h3>Program</h3>
            <p>
                Luni: 12:00-19:00<br> Marți: 12:00-19:00<br> Miercuri: 12:00-19:00<br> Joi: 12:00-19:00<br> Vineri:
                12:00-19:00<br>
            </p>
        </div>
    </div>
</section>